.sectResumen {
    background: #fafbff;

}
/*******************************/
.boxResumen .boxHead > h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 40px;
}
/*******************************/
.boxResumen .boxBody {
    padding: 24px 32px 24px 32px;
    border-radius: 24px;
    background: #ffffff;
    margin-bottom: 50px;
}
.boxResumen .boxBody > p {
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 0.800000011920929px;
    text-align: left;
}
.boxResumen .boxBody > hr {
    border-top: 1px solid #a5ade1;
}
.boxResumen .boxBody > h3 {
    font-size: 26px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
}
.boxResumen .boxBody > .listDetail {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.boxResumen .boxBody > .listDetail > li {
    margin-bottom: 20px;
}
.boxResumen .boxBody > .listDetail > li h5 {
    font-weight: 400;
}
.boxResumen .boxBody > .listDetail > li p{
    margin-bottom: 5px;
}
/****************************/
@media(max-width: 767px){
    .sectResumen {
        padding: 50px 0;
    }
    .boxResumen .boxBody {
        margin-bottom: 0;
        padding: 15px;
    }
    .boxResumen .boxHead > h2 {
        font-size: 30px;
    }
}